---

- name: ntp is present
  apt: pkg=ntp state=present
  tags: ntp

- name: ntp is configured
  template: src=ntp.conf.j2 dest=/etc/ntp.conf
  notify:
   - restart ntp
  tags: ntp

- name: ntp is running
  service: name=ntp state=started enabled=yes
  tags: ntp
