# {{ ansible_managed }}

driftfile /var/lib/ntp/ntp.drift
logfile /var/log/ntp.log

# by default act only as a basic NTP client
restrict -4 default ignore
restrict -6 default ignore

# allow NTP messages from the loopback address, useful for debugging
restrict 127.0.0.1
restrict ::1

# allow servers we are synchronizing with:
{% for server in ntp_servers %}
restrict -4 {{ server }} nomodify nopeer
{% endfor %}

# server(s) we time sync to
{% for server in ntp_servers %}
server {{ server }}
{% endfor %}
